.about_d1{
	background:url(../Dependencies/images/bg1.png);
	padding-left:10px;
	margin-top: 30px;
	margin: 0px 10px;
	
}
.about_hr{
	color:grey;
}
.about_p{
	display:inline-block;
	color: black;
	font-size: medium;
	padding: 10px;
	margin: 10px;
}

hr {
	width: 340px;
}

input {
	border: none;
}

.profile-class button {
	height: 30px;
	width: 80px;
	background-color: lightgreen;
	border-radius: 5px;
}

button:hover {
	background-color: rgb(100, 168, 100);
	transition: background-color ease-in-out 0.3s;
}

.err-handler {
	color:red;
}