.table-sec{
    margin: 10px 10px;
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    /* background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2919299.jpg&f=1&nofb=1); */
}

.table-sec div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .table-sec table {
    padding: 100px;
}

.table-sec th,td {
    border-bottom: 2px solid rgb(94, 84, 84);
    border-top: 2px solid rgb(94, 84, 84);
    padding: 10px;
    margin: 20px;
}

.table-sec tr {
    text-align: center;
} */


.table-sec-tab {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}
  
.table-sec-tab td, .table-sec-tab th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.table-sec-tab tr:nth-child(even){background-color: #f2f2f2;}
  
.table-sec-tab tr:hover {background-color: #ddd;}
  
.table-sec-tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #de1f26;
    color: white;
}